<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: black;
  color: #0F0;
}

form {
  margin-top: 50px;
}

form p {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: black;
  color: green;
  border: 1px solid #0F0;
  padding: 5px;
}

input[type="submit"] {
  background-color: #0F0;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

span {
  color: red;
}
</style>
</head>
<body>
  <h1>Register Here</h1>
  <br>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username(size=32, placeholder="username") }}<br>
      {% for error in form.username.errors %}
      <span>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.email(size=32, placeholder="email@gmail.com") }}<br>
      {% for error in form.email.errors %}
      <span>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password(size=32, placeholder="password*$%!@") }}<br>
      {% for error in form.password.errors %}
      <span>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password2(size=32, placeholder="password*$%!@") }}<br>
      {% for error in form.password2.errors %}
      <span>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</body>
</html>
